@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  width: 100%;
  color: #333;
}

.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
}

.title,
.description {
  text-align: center;
}

.button {
  @apply text-white bg-primary-600 hover:bg-primary-700 focus:ring-primary-500 inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;
}

.button,
.disabled {
  @apply text-white bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;
}

.linkstyle {
  @apply text-transparent font-bold bg-clip-text bg-gradient-to-r from-primary-400 to-pink-700;
}

.button,
.small {
  @apply text-white bg-primary-600 hover:bg-primary-700 focus:ring-primary-500 inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;
}

h1 {
  @apply mt-6 text-center text-3xl font-extrabold text-gray-900;
}

h2 {
  @apply mt-3 text-left text-xl font-bold text-gray-800;
}
